#header{
    height: 10%;
    width: 100%;
}

#homebutton {
    margin: 50px 0px 0px 50px;
    height: 80px;
    width: 80px;
    text-align: center;
    background:url(/images/box.png) no-repeat,center,fixed;
    background-size: 100%;
    float: left;
}

#logout{
    position:absolute;
    left: 90%;
    top:5%;
}

#headerBody{
    margin-top:50px;
    left: 20%;
    width: 80%;
    text-align: left;
    float: left;
}

#fileOptions{
    margin-top: 100px;
    position: relative;
}

#fileTreeOptions{
    margin: 0 50px 0 50px;
    position: relative;
    top:3%;
}

#filesBody{
    margin: 0 50px 0 50px;
    position:relative;
    top:4%;
}

.elem:hover {
    background-color: lightskyblue;
}

.upper:hover{
    background-color: lightskyblue;
}

#selected{
    background-color: blue;
}

.optionElem{
    width:40px;
    margin-left:50px;
    display:inline-block;
}

.ui-icon-image .fileName .folderName .path .modificationDate .authorizationLevel{
    pointer-events: none;
}

.fileName:hover{
    text-decoration: underline;
}

.folderName:hover{
    text-decoration: underline;
}

th{
    text-align:center !important;
}

td{
    text-align:center;
}

h3{
    display: inline-block;
}