#header{
    height: 10%;
    width: 100%;
}

#homebutton {
    height: 80px;
    width: 80px;
    text-align: center;
    background:url(/images/box.png) no-repeat,center,fixed;
    background-size: 100%;
    float: left;
}

#headerBody{
    left: 20%;
    width: 80%;
    text-align: left;
    float: left;
}

#fileOptions{
    position: relative;
}

#fileTreeOptions{
    position: relative;
    top:15%;
}

#filesBody{
    position:relative;
    top:20%;
}

.elem:hover {
    background-color: lightskyblue;
}

#selected{
    background-color: blue;
}